USE [newsprout]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 18/05/2026 14:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[adminid] [int] IDENTITY(1,1) NOT NULL,
	[adminname] [nvarchar](20) NULL,
	[adminpass] [nvarchar](10) NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[adminid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login]    Script Date: 18/05/2026 14:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](20) NOT NULL,
	[surname] [nvarchar](20) NULL,
	[password] [nvarchar](10) NOT NULL,
	[sproutsPlanted] [int] NULL,
	[phonenumber] [nvarchar](30) NULL,
	[email] [nvarchar](50) NULL,
 CONSTRAINT [PK_login] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admin] ON 

INSERT [dbo].[admin] ([adminid], [adminname], [adminpass]) VALUES (1, N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[admin] OFF
GO
SET IDENTITY_INSERT [dbo].[login] ON 

INSERT [dbo].[login] ([userid], [username], [surname], [password], [sproutsPlanted], [phonenumber], [email]) VALUES (1, N'admin', N'admin', N'admin', 0, NULL, NULL)
INSERT [dbo].[login] ([userid], [username], [surname], [password], [sproutsPlanted], [phonenumber], [email]) VALUES (6, N'gager', N'asd', N'1503', 0, N'12e4453', N'sjdıa@fsasjoa')
INSERT [dbo].[login] ([userid], [username], [surname], [password], [sproutsPlanted], [phonenumber], [email]) VALUES (1005, N'selam', N'selam', N'1234', 0, N'1234555312', N'anfowlfnwe@')
SET IDENTITY_INSERT [dbo].[login] OFF
GO
ALTER TABLE [dbo].[login] ADD  CONSTRAINT [DF_login_sproutsPlanted]  DEFAULT ((0)) FOR [sproutsPlanted]
GO
